<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>
      
   <extension id="application" point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="saseno.dev - Mini Eclipse"
            name="Mini Eclipse">  
            
         <property
            name="appName"
            value="Mini Eclipse">
         </property>
         
         <property
               name="aboutText"
               value="Minimal Eclipse Product&#x0A;saseno.dev - 2020&#x0A;https://saseno.dev">
         </property>
         
         <property
               name="aboutImage"
               value="img/about.png">
         </property>
                  
         <property
               name="windowImages"
               value="icons/space-rocket-icon-16.png,icons/space-rocket-icon-24.png,icons/space-rocket-icon-32.png,icons/space-rocket-icon-48.png,icons/space-rocket-icon-64.png,icons/space-rocket-icon-128.png,icons/space-rocket-icon-256.png">
         </property>
         
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         
         <property
               name="startupMessageRect"
               value="7,252,440,20">
         </property>
         
         <property
               name="startupProgressRect"
               value="5,275,440,15">
         </property>
         
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         
      </product>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="tasks"
            id="dev.saseno.eclipse.digi.oh.contenttype.tasks"
            name="Tasks"
            priority="high">
      </content-type>
      <content-type
            file-extensions="ftpuploader"
            id="dev.saseno.eclipse.digi.oh.contenttype.ftpuploader"
            name="FTP Uploader"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="dev.saseno.eclipse.digi.oh.contenttype.tasks"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editor
            class="dev.saseno.eclipse.digi.oh.editor.FtpUploader"
            default="true"
            extensions="ftpuploader"
            id="dev.saseno.eclipse.digi.oh.editor.tasks.id"
            name="FTP Uploader Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="dev.saseno.eclipse.digi.oh.camera.capture.id"
            name="Capture Webcam Image">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="dev.saseno.eclipse.digi.oh.camera.CaptureImageHandler"
            commandId="dev.saseno.eclipse.digi.oh.camera.capture.id">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="dev.saseno.eclipse.digi.oh.camera.WebcamView"
            id="dev.saseno.eclipse.digi.oh.camera.WebcamView.id"
            name="WebcamView"
            restorable="true">
      </view>
   </extension>

</plugin>
